
{% extends "AppCoder/base.html" %}
{%load static %}
{% block contenido %}
<p>
 <strong>Creador de la pagina: </strong> Nicolas Chandia 
<p>
 <strong>Edad:</strong> 23 años
<p>
 <strong>Acerca de mi:</strong> "Desde Ya muchas gracias por ingresar a nuestra Comunidad de Musicos Argentinos, mi nombre es Nicolas, pero mis amigos me dicen Chandia.. Tengo 23 años, naci un 1 de junio de 
 de 1999.. Tengo un titulo de Tecnico electromecánico con orientación en bienes y servicios.. Soy de una ciudad de Mendoza-Argentina que se llama Tunuyán.. Me gusta mucho la musica, tengo mi propia banda de Rock, en la que yo soy el guitarrista..Su nombre es Error-404, nombre el cual elegi debido a mi estudio 
 en la carrera de programación"
<p>
<body>
    <img src="{%static "img/img.jpg" %}" width="720" height="1080" alt="Foto Nicolas Chandia" />
<br> 
<br> 
<br>
<br>

<strong>Foto:</strong>Nicolas Chandia

<p>
<br>    

    <img src="{%static "img/img2.png" %}" width="1080" height="720" alt="Foto Nicolas Chandia 2 " />

<br>
<br><br><br>
<br>
<strong>MILF: </strong>Error 404 
<p>


<body>
    <audio controls>
      <source src="{%static "music/MILF.mp3" %}" type="audio/mpeg">
      Tu navegador no soporta la reproducción de audio.
    </audio>
<body>
{% endblock contenido %}
