{% extends "AppCoder/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de Baterias</h1>
    <a href="{% url 'crear_bateria' %}">Crear Bateria</a>
    <br><br>
    <form action="{% url 'buscar_bateria' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar Baterias ">
    </form>
    <br>
    
    <table class="table">
      <tbody>
        <tr>
          
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Descripcion</th>
          <th>Disponibilidad</th>
        </tr>
        {% for bateria in baterias %}
        <tr>
          <td>{{ bateria.ID}}</td>
          <td>{{ bateria.nombre }}</td>
          <td>{{ bateria.precio }}</td>
          <td>{{ bateria.descripcion }}</td>
          <td>{{ bateria.disponibilidad }}</td>
          <td>
            <a href="{% url 'ver_bateria' bateria.id %}">Ver</a>
          </td>
          <td>
            <a href="{% url 'editar_bateria' bateria.id %}">Editar</a>
          </td>
          <td>
            {% if user == bateria.creador %}
            <form action="{% url 'eliminar_bateria' bateria.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Eliminar"/>
            </form
            {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock contenido %}