{% extends "AppCoder/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de Bajos</h1>
    <a href="{% url 'crear_bajo' %}">Crear Bajo</a>
    <br><br>
    <form action="{% url 'buscar_bajo' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar Bajos ">
    </form>
    <br>
    
    <table class="table">
      <tbody>
        <tr>
          
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Descripcion</th>
          <th>Disponibilidad</th>
        </tr>
        {% for bajo in bajos %}
        <tr>
          <td>{{ bajo.ID}}</td>
          <td>{{ bajo.nombre }}</td>
          <td>{{ bajo.precio }}</td>
          <td>{{ bajo.descripcion }}</td>
          <td>{{ bajo.disponibilidad }}</td>
          <td>
            <a href="{% url 'ver_bajo' bajo.id %}">Ver</a>
          </td>
          <td>
            {% if user == bajo.creador %}
            <a href="{% url 'editar_bajo' bajo.id %}">Editar</a>
            {%endif%}
          </td>
          <td>
            {% if user == bajo.creador %}
            <form action="{% url 'eliminar_bajo' bajo.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Eliminar"/>
            </form
            {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
 
  </div>
 </section>
 {% endblock contenido %}